@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: montserrat, sans-serif;
}

html {
    overflow: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Weather-storm_large.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top right;
    height: 100vh;
    overflow-y: auto;
}

#top-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-info {
    padding: 80px;
}

#current-weather-info-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

#city-name-div {
    margin: 5px 0 5px 0;
    font-size: .80rem;
    font-weight: 400;
}

#weather-type-div {
    font-size: 2rem;
    font-weight: 500;
}

.date {
    font-size: .8rem;
}

#current-temp-div {
    font-size: 3rem;
    margin-top: 5px;
    font-weight: 700;
}

#weather-icon {
    padding-top: 10px;
    height: 100px;
    width: 100px;
}

button {
    z-index: 999;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

#search-button {
    height: 18px;
    min-width: 18px;
    background-image: url(./assets/search-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#form-div {
    margin-top: 1rem;
    height: 30px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
}

form input {
    height: 100%;
    max-width: 150px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #f5f5f5;
    font-size: .8rem;
    font-weight: 600;
}

textarea:focus,
input:focus {
    outline: none;
}

.weather-stat {
    display: flex;
    gap: 10px;
}

.stat-icon {
    height: 30px;
}

.weather-info-text {
    font-size: 1.5rem;
    font-weight: 600;
}

#bottom-div {
    width: 100%;
    margin-bottom: 40px;
}

#week-forecast {
    display: flex;
    justify-content: space-around;
}

.day-forecast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.day-of-week {
    padding-bottom: 20px;
}

.day-high-temp {
    font-size: 1.5rem;
    font-weight: 600;
}

.day-low-temp {
    font-size: .8rem;
}

.daily-icon {
    padding-top: 20px;
    width: 45px;
}